<%- include("header"); -%>

<header class="jumbotron" id="Activities-head">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <h1 class="jumbotron-head">About Us</h1>
                </div>
            </div>
        </div>
    </header> 
    <div class="conatiner">
        <div class="row row-content">
            <div class="d-none d-md-flex col-sm-1"></div>
            <div class="col-sm">
                    <div class="media">
                        <div class="media-body col-12 col-md-8">
                            <h2 class="mt-0 About-head">Our Vision</h2>
                            <img class="d-block d-md-none align-self-center image-about" src="./images/Our Vision.png" alt="Buffet">
                            <p class="text-justify">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                                dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                                consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem
                                ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut
                                labore et dolore magnam aliquam quaerat voluptatem.</p>
                        </div>
                        <div class="d-none d-md-block col-md-4 text-right">
                            <img class="align-self-center image-about" src="./images/Our Vision.png" alt="Buffet">
                        </div>
                    </div>
            </div>
            <div class="d-none d-md-flex col-sm-1"></div>
        </div>

        <div class="row row-content">
            <div class="d-none d-md-flex col-md-1"></div>
            <div class="col-sm">
                <div class="media">
                    <div class="media-body col-sm-8 order-sm-last text-left">
                        <h2 class="mt-0 About-head">Our Concept</h2>
                        <img class="d-block d-md-none align-self-center image-about" src="./images/Our Concept.png" alt="Buffet">
                        <p class="text-justify">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                    </div>
                    <div class="d-none d-md-block col-sm-4 text-left order-sm-first">
                        <img class="align-self-center image-about" src="./images/Our Concept.png" alt="Buffet">
                    </div>
                </div>
            </div>
            <div class="d-none d-md-flex col-sm-1"></div>
        </div>

        <div class="row row-content">
            <div class="d-none d-md-flex col-sm-1"></div>
            <div class="col-sm">
                <div class="media">
                    <div class="media-body col-sm-8">
                        <h2 class="mt-0 About-head">Our History</h2>
                        <img class="d-block d-md-none align-self-center image-about" src="./images/Our History.png" alt="Buffet">
                        <p class="text-justify">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                    </div>
                    <div class="d-none d-md-block col-sm-4 text-right">
                        <img class="align-self-center image-about" src="./images/Our History.png" alt="Buffet">
                    </div>
                </div>
            </div>
            <div class="d-none d-md-flex col-sm-1"></div>
        </div>

    </div>

<%- include("footer") -%>
