<%- include("header"); -%>
<header class="jumbotron" id="Activities-head">
      <div class="container">
          <div class="row">
              <div class="col-12 col-sm-6">
                  <h1 class="jumbotron-head">Activities</h1>
              </div>
          </div>
      </div>
  </header>    

    <div class="container">
        <div class="row row-content">
            <div class="col-12">
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm">
                        <div class="Activities-subhead text-center">Activities</div>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm">
                <div class="row Activities-array">
                    <div class="space col-sm-6 col-md-4 col-lg-3">
                        <div class="Activity-block">
                            <div class="row">
                                <div class="col-sm-1"></div>
                                <div class="col-sm apicture text-center">
                                    <img class="activity-picture" src="./images/Activities Image.png" height="222.16px" width="223.11px">
                                </div>
                                <div class="col-sm-1"></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-1"></div>
                                <div class="col-sm text-center">
                                    <div class="activity-name">Freshers</div>
                                    <div class="activity-content">We solve problem statements of Civil Engineering a try to model the same in the best possible way.</div>
                                    <div>
                                        <a class="btn button-activities" href="Freshers">
                                            <p class="text-center" id="View-all-content-Activities">Read More</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-1"></div>
                            </div>
                        </div>
                    </div>
                    <div class="space col-sm-6 col-md-4 col-lg-3">
                        <div class="Activity-block">
                            <div class="row">
                                <div class="col-sm-1"></div>
                                <div class="col-sm apicture text-center">
                                    <img class="activity-picture" src="./images/Activities Image.png" height="222.16px" width="223.11px">
                                </div>
                                <div class="col-sm-1"></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-1"></div>
                                <div class="col-sm text-center">
                                    <div class="activity-name">Farewell</div>
                                    <div class="activity-content">We solve problem statements of Civil Engineering a try to model the same in the best possible way.</div>
                                    <div>
                                        <a class="btn button-activities" href="Farewell">
                                            <p class="text-center" id="View-all-content-Activities">Read More</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-1"></div>
                            </div>
                        </div>
                    </div>
                    <div class="space col-md-4 col-lg-3">
                        <div class="Activity-block">
                            <div class="row">
                                <div class="col-1"></div>
                                <div class="col apicture text-center">
                                    <img class="activity-picture" src="./images/Activities Image.png" height="222.16px" width="223.11px">
                                </div>
                                <div class="col-1"></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-1"></div>
                                <div class="col-sm text-center">
                                    <div class="activity-name">Sports Fiesta</div>
                                    <div class="activity-content">We solve problem statements of Civil Engineering a try to model the same in the best possible way.</div>
                                    <div>
                                        <a class="btn button-activities" href="SportsFiesta">
                                            <p class="text-center" id="View-all-content-Activities">Read More</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-1"></div>
                            </div>
                        </div>
                    </div>
                    <div class="space col-lg-3">
                        <div id="block4" class="Activity-block">
                            <div class="row">
                                <div class="col-sm-1"></div>
                                <div class="col-sm apicture text-center">
                                    <img class="activity-picture" src="./images/Activities Image.png" height="222.16px" width="223.11px">
                                </div>
                                <div class="col-sm-1"></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-1"></div>
                                <div class="col-sm text-center">
                                    <div class="activity-name">Structural Saturday</div>
                                    <div class="activity-content">We solve problem statements of Civil Engineering a try to model the same in the best possible way.</div>
                                    <div>
                                        <a class="btn button-activities" href="StructuralSaturday">
                                            <p class="text-center" id="View-all-content-Activities">Read More</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-1"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>

<%- include("footer") -%>
