<%- include("header"); -%>
    <h1>Compose</h1>
    <form enctype="multipart/form-data" action="/compose" method="post">
      <div class="form-group">
        <label>Title</label>
        <input class="form-control" type="text" name="postTitle">
        <label>Post</label>
        <textarea class="form-control" name="postBody" rows="5" cols="30"></textarea>
        <label>Image</label>
        <input type="file" name="avatar" />
        <label>postLink</label>
        <input class="form-control" type="text" name="postLink">
      </div>
      <button class="btn btn-primary" type="submit" name="button">Publish</button>
    </form>

<%- include("footer"); -%>
