<%- include("header"); -%>
<header class="jumbotron" id="Activities-head">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="jumbotron-head pip"><a class="title-projects" href="Projects">Projects</a> > Concete Project</h1>
                </div>
            </div>
        </div>
    </header>
    <div class="conatiner">
        <div class="row row-content image-holder carousel-holder">
            <div class="d-none d-md-block col-md-1"></div>
            <div id="project-carousel" class="col-md-10 carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <img class="d-block image-holder" src="./images/Project1.png" alt="">
                        <div class="carousel-caption d-none d-md-block">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block image-holder" src="./images/Project1.png" alt="">
                        <div class="carousel-caption d-none d-md-block">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block image-holder" src="./images/Project1.png" alt="">
                        <div class="carousel-caption d-none d-md-block">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block image-holder" src="./images/Project1.png" alt="">
                        <div class="carousel-caption d-none d-md-block">
                        </div>
                    </div>
                </div>
                <ol class="carousel-indicators slider">
                    <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#mycarousel" data-slide-to="1"></li>
                    <li data-target="#mycarousel" data-slide-to="2"></li>
                    <li data-target="#mycarousel" data-slide-to="3"></li>
                </ol>
                <a class="carousel-control-prev prev-slide" href="#mycarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next next-slide" href="#mycarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
            <div class="d-none d-md-block col-md-2"></div>
        </div>
        <div class="row content-holder">
            <div class="d-none d-md-block col-md-1"></div>
            <div class="col-12 col-md-8 pcontent">
                <p class="team-member">
                    Summary
                </p>
                Different types of concrete was one of the four projects that CEC worked upon in srishti.
                We chose to work on concretes with more strength, safety and durability that could make the life of people easier. Some
                concretes were already made in the past but some were being developed for the future. We made few concretes in the lab
                while preparing the presentations for few due to shortage of equipments.<br><br>
                Following are the working models that we made:-
                <ol>
                    <li>Pervious concrete - It's a highly porous concrete that can allow a large quantity of water to pass through to prevent
                    flooding and help recharging groundwater.</li>
                    <li>Lime concrete - It was one of the first concretes made in human history.</li>
                    <li>Light weight concrete - This concrete is so light weighted that it can float in water and also prevent the spreading
                    of fire.</li>
                    <li>Sparkling concrete - This concrete sparkles when light falls on it. It can be used to prevent accidents at night.</li>

                </ol>
                Following are the concretes whose presentation were made:-
                <ol>
                    <li>Self healing concrete</li>
                    <li>Polymer concrete</li>
                    <li>Eco-friendly concrete</li>
                    <li>Transparent concrete</li>
                </ol>

                These concretes were represented in the form of timeline of their discovery along with proper description.


            </div>
            <div class="d-none d-md-block col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-12 col-md-8 pcontent">
                <p class="team-member">
                    Team Members
                </p>
                <ul>
                    <li>Vedant Kumar (3rd Year)</li>
                    <li>Nikita Singh (3rd Year)</li>
                    <li>Anvesh Chauhan (2nd Year)</li>
                    <li>Vibhu Chaucharia (2nd Year)</li>
                    <li>Muskan Dogra (2nd Year)</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-12 col-md-8 pcontent">
                <p class="team-member">
                    More Projects
                    <hr>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm">
                <div class="row">
                    <div class="col-sm-4 pjct">
                        <div class="row">
                            <div><img class="Project-image" src="./images/Project2.png"></div>
                        </div>
                        <div class="row">
                            <div class="Project-head">Smart Cities Project</div>
                            <div class="Project-details">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                accusantium doloremque laudantium, totam rem aperiam</div>
                        </div>
                        <div class="row">
                            <a class="btn Read-more-projects" href="#">
                                <p class="text-center Read-more-projects-content">Read more</p>
                            </a>
                        </div>
                    </div>

                    <div class="col-sm-4 pjct">
                        <div class="row">
                            <div><img class="Project-image" src="./images/Project3.png"></div>
                        </div>
                        <div class="row">
                            <div class="Project-head">Concrete Project</div>
                            <div class="Project-details">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                accusantium doloremque laudantium, totam rem aperiam</div>
                        </div>
                        <div class="row">
                            <a class="btn Read-more-projects" href="#">
                                <p class="text-center Read-more-projects-content">Read more</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<%- include("footer") -%>
