<%- include("header"); -%>
<header class="jumbotron" id="Activities-head">
       <div class="container">
           <div class="row">
               <div class="col-12 col-sm-6">
                   <h1 class="jumbotron-head">Edifice</h1>
               </div>
           </div>
       </div>
   </header> 
    <div class="container">
        <div class="row row-content align-items-center">
            <div class="col-sm-2"></div>
            <div class="col-sm-3 text-right">
                <img class="coming-soon" src="./images/coming-soon.gif">
            </div>
            <div class="col-sm-6">
                <div class="coming-soon-head">
                    Coming Soon!
                </div>
                <div class="coming-soon-subhead">
                    Stay Connected.
                </div>
            </div>
        </div>

    </div>





  <%- include("footer") -%>
