<%- include("header"); -%>
<header class="jumbotron" id="Activities-head">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="jumbotron-head pip"><a class="title-projects" href="Activities">Activities</a> > Farewell</h1>
                </div>
            </div>
        </div>
    </header>
    <div class="conatiner">
        <div class="row row-content image-holder carousel-holder">
            <div class="d-none d-md-block col-md-1"></div>
            <div id="project-carousel" class="col-md-10 carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <img class="d-block image-holder" src="./images/Project1.png" alt="">
                        <div class="carousel-caption d-none d-md-block">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block image-holder" src="./images/Project1.png" alt="">
                        <div class="carousel-caption d-none d-md-block">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block image-holder" src="./images/Project1.png" alt="">
                        <div class="carousel-caption d-none d-md-block">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block image-holder" src="./images/Project1.png" alt="">
                        <div class="carousel-caption d-none d-md-block">
                        </div>
                    </div>
                </div>
                <ol class="carousel-indicators slider">
                    <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#mycarousel" data-slide-to="1"></li>
                    <li data-target="#mycarousel" data-slide-to="2"></li>
                    <li data-target="#mycarousel" data-slide-to="3"></li>
                </ol>
                <a class="carousel-control-prev prev-slide" href="#mycarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next next-slide" href="#mycarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
            <div class="d-none d-md-block col-md-2"></div>
        </div>
        <div class="row content-holder">
            <div class="d-none d-md-block col-md-1"></div>
            <div class="col-12 col-md-8 pcontent">
                <p class="team-member">
                    Summary
                </p>
                India is home to almost 45 percent of the world’s bamboo forests and two-thirds of the growing stock of
                bamboo in the
                country is available in the North-Eastern states . The floor space index estimates reveal that bamboo
                encompasses about
                8.96 million ha of forest area, which is equivalent to 12.8% of the total forest cover of the country.
                Particularly in
                North-East India, bamboo is like the backbone of the economy and socio-cultural heritage of bamboo
                growing area of
                India.
                <br><br>

                Science: Bamboo Possesses excellent strength properties especially tensile strength. Buildings made from
                bamboo are
                highly earthquake resistant due to light weight and favourable elastic properties of bamboo. Bamboo
                supports medicinal
                and household needs too thus making it more beneficial.
                New innovation in housing technology included Water Wheels to lift water from naturally flowing river
                and then
                distributed the water uniformly amongst the whole area for different purposes. A Water wheel is a
                machine for converting
                the energy of flowing or falling water into useful forms of power. In water-raising devices rotary
                motion is typically
                more efficient than machines based on oscillating motion.

                <br><br>
                Drip Irrigation Technique - It is a type of micro-irrigation system that has the potential to save water
                and nutrients
                by allowing water to drip slowly to the roots of plants, either from above the soil surface or buried
                below the surface.
                The goal is to place water directly into the root zone and minimize evaporation. Drip irrigation systems
                distribute
                water through a network of valves, pipes, tubing, and emitters. Depending on how well designed,
                installed, maintained,
                and operated it is, a drip irrigation system can be more efficient than other types of irrigation
                systems, such as
                surface irrigation or sprinkler irrigation. A fully functional Drip irrigation network was formulated
                using bamboo as
                pipes
                <br><br>

                Mycelium Bricks:
                <br><br>For srishti 2019 we did a study on different building materials to tell people about the new
                innovations in housing
                methods. In this we did a comparative study between the existing building material(concrete) and new
                sustainable
                materials that can replace concrete in the present or in the future.
                <br><br>
                Mycelium bricks was one such project in which we compared bricks that were made of mycelium(fungus) with
                concrete
                bricks. In this we did a comparative study of various characteristics of building materials such as
                strength, cost of
                production, effects on the environment, thermal insulation etc. We also tried to make mycelium bricks
                under the
                supervision of Gargi madam but due to some time constraints and lack of knowledge we failed. The
                remnants of the bricks
                that we tried to make were exhibited along with a brief report on mycelium bricks in srishti 2019.



            </div>
            <div class="d-none d-md-block col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-12 col-md-8 pcontent">
                <p class="team-member">
                    Team Members
                </p>
                <ul>
                    <li>Vedant Kumar (3rd Year)</li>
                    <li>Nikita Singh (3rd Year)</li>
                    <li>Anvesh Chauhan (2nd Year)</li>
                    <li>Vibhu Chaucharia (2nd Year)</li>
                    <li>Muskan Dogra (2nd Year)</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-12 col-md-8 pcontent">
                <p class="team-member">
                    More Activities
                    <hr>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm">
                <div class="row">
                    <div class="space col-sm-6 col-md-4 col-lg-3">
                        <div class="Activity-block">
                            <div class="row">
                                <div class="col-sm-1"></div>
                                <div class="col-sm apicture text-center">
                                    <img class="activity-picture" src="./images/Activities Image.png" height="222.16px"
                                        width="223.11px">
                                </div>
                                <div class="col-sm-1"></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-1"></div>
                                <div class="col-sm text-center">
                                    <div class="activity-name">Freshers</div>
                                    <div class="activity-content">We solve problem statements of Civil Engineering a try to
                                        model the same
                                        in the best possible way.</div>
                                    <div>
                                        <a class="btn button-activities" href="Freshers">
                                            <p class="text-center" id="View-all-content-Activities">Read More</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-1"></div>
                            </div>
                        </div>
                    </div>
                    <div class="space col-sm-6 col-md-4 col-lg-3">
                        <div class="Activity-block">
                            <div class="row">
                                <div class="col-sm-1"></div>
                                <div class="col-sm apicture text-center">
                                    <img class="activity-picture" src="./images/Activities Image.png" height="222.16px"
                                        width="223.11px">
                                </div>
                                <div class="col-sm-1"></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-1"></div>
                                <div class="col-sm text-center">
                                    <div class="activity-name">Sports Fiesta</div>
                                    <div class="activity-content">We solve problem statements of Civil Engineering a try to
                                        model the same
                                        in the best possible way.</div>
                                    <div>
                                        <a class="btn button-activities" href="SportsFiesta">
                                            <p class="text-center" id="View-all-content-Activities">Read More</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-1"></div>
                            </div>
                        </div>
                    </div>
                    <div class="space col-sm-6 col-md-4 col-lg-3">
                        <div class="Activity-block">
                            <div class="row">
                                <div class="col-sm-1"></div>
                                <div class="col-sm apicture text-center">
                                    <img class="activity-picture" src="./images/Activities Image.png" height="222.16px"
                                        width="223.11px">
                                </div>
                                <div class="col-sm-1"></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-1"></div>
                                <div class="col-sm text-center">
                                    <div class="activity-name">Structural Saturday</div>
                                    <div class="activity-content">We solve problem statements of Civil Engineering a try to
                                        model the same
                                        in the best possible way.</div>
                                    <div>
                                        <a class="btn button-activities" href="StructuralSaturday">
                                            <p class="text-center" id="View-all-content-Activities">Read More</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-1"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

  <%- include("footer") -%>
