<!-- Footer -->
<footer class="footer">
<div class="container">
<div class="row footer-row">
    <div class="col-4 col-sm-3 col-lg-2 offset-1">
        <h5 class="contact-us-heading">Contact Us</h5>
        <div class="contact-us">
            Lecture Hall 2, Geomatics Building, Department of Civil Engineering, IIT Roorkee, Roorkee, Uttrakhand, India - 247667
        </div>
        <div class="contact-font"><i class="fa fa-envelope"></i>  cec@iitr.ac.in</div>
        <div class="contact-font"><i class="fa fa-phone"></i>  +91 99999 99999</div>
    </div>
    <div class="col-6 col-sm-5 col-lg-3 offset-0 offset-lg-2">
        <h5 class="contact-us-heading">Edifice (The Official Newsletter)</h5>
        <div class="contact-us">
            Sed ut perspiciatis unde omnis iste natus error sit
            voluptatem accusantium doloremquelaudantium,
            totam rem aperiam, eaque ipsa quae ab illo inventore
            veritatis et quasi architecto beatae vitae dicta sunt
            explicabo.
        </div>
        <div class="edifice"><a class="edifice" href="#">Download Edifice Spring Edition 2020<a></div>
    </div>
    <div class="col-12 col-sm-2 offset-0 offset-lg-1 text-right">
        <div id="links">
            <ul class="list-unstyled">
                <li class="list-item"><a href="Aboutus.html">About Us</a></li>
                <li class="list-item"><a href="Projects.html">Projects</a></li>
                <li class="list-item"><a href="Activities.html">Activities</a></li>
                <li class="list-item"><a href="#">Blog</a></li>
                <li class="list-item"><a href="#">Team</a></li>
                <li class="list-item"><a href="#">Resources</a></li>
            </ul>
        </div>
        <div>
            <a class="footer-icons" href="http://google.com/+"><i class="fa fa-facebook fa-lg"></i></a>
            <a class="footer-icons" href="http://www.facebook.com/profile.php?id="><i class="fa fa-linkedin fa-lg"></i></a>
            <a class="footer-icons" href="http://www.linkedin.com/in/"><i class="fa fa-youtube fa-lg"></i></a>
        </div>
    </div>
</div>
<div class="row copyright-content align-items-center">
    <div class="col-auto">
            <p class="cc-content">© 2020 Civil Engineering Consortium</p>
    </div>
</div>
</div>
</footer>


<!-- jQuery first, then Popper.js, then Bootstrap JS. -->
<script src="./javascript/jquery.slim.min.js"></script>
<script src="./javascript/popper.min.js"></script>
<script src="./javascript/bootstrap.min.js"></script>
<script type="text/javascript" src="./Interact.js"></script>
</body>
</html>
