<%- include("header"); -%>
<header class="jumbotron" id="Activities-head">
       <div class="container">
           <div class="row">
               <div class="col-12">
                   <h1 class="jumbotron-head pip"><a class="title-projects" href="Projects">Projects</a> > Geosynthetics
                       Project</h1>
               </div>
           </div>
       </div>
   </header>
<body>
    <!-- Fixed Navigation bar-->
    <nav class="navbar navbar-expand-md fixed-top align-items-center">
        <div class="container ml-0 mr-0">
            <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#Navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand align-items-center" href="#"><img src="./images/CEC_logo.png" height="70" width="70">
                <span class="navbar-text d-none d-md-flex">
                    Civil Engineering <br>Consortium&nbsp;IIT&nbsp;Roorkee
                </span>
            </a>
            <div class="collapse navbar-collapse" id="Navbar">
                <ul class="navbar-nav ml-auto mr-0" id="list">
                    <li class="nav-item"><a class="nav-link" href="/"> Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="Aboutus"> About Us</a></li>
                    <li class="nav-item active"><a class="nav-link" href="#"> Projects</a></li>
                    <li class="nav-item"><a class="nav-link" href="Activities"> Activities</a></li>
                    <!--<li class="nav-item"><a class="nav-link" href="Blogs.html"> Blog</a></li>
                <li class="nav-item"><a class="nav-link" href="team.html"> Team</a></li>
                <li class="nav-item"><a class="nav-link" href="edifice.html"> Edifice</a></li>-->
                </ul>
            </div>
        </div>

    </nav>

    <header class="jumbotron" id="Activities-head">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="jumbotron-head pip"><a class="title-projects" href="Projects.html">Projects</a> > Geosynthetics
                        Project</h1>
                </div>
            </div>
        </div>
    </header>

    <div class="conatiner">
        <div class="row row-content image-holder carousel-holder">
            <div class="d-none d-md-block col-md-1"></div>
            <div id="project-carousel" class="col-md-10 carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <img class="d-block image-holder" src="./images/Project1.png" alt="">
                        <div class="carousel-caption d-none d-md-block">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block image-holder" src="./images/Project1.png" alt="">
                        <div class="carousel-caption d-none d-md-block">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block image-holder" src="./images/Project1.png" alt="">
                        <div class="carousel-caption d-none d-md-block">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block image-holder" src="./images/Project1.png" alt="">
                        <div class="carousel-caption d-none d-md-block">
                        </div>
                    </div>
                </div>
                <ol class="carousel-indicators slider">
                    <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#mycarousel" data-slide-to="1"></li>
                    <li data-target="#mycarousel" data-slide-to="2"></li>
                    <li data-target="#mycarousel" data-slide-to="3"></li>
                </ol>
                <a class="carousel-control-prev prev-slide" href="#mycarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next next-slide" href="#mycarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
            <div class="d-none d-md-block col-md-2"></div>
        </div>
        <div class="row content-holder">
            <div class="d-none d-md-block col-md-1"></div>
            <div class="col-12 col-md-8 pcontent">
                <p class="team-member">
                    Summary
                </p>
                Under the shade of CEC we were successful in demonstrating a pure core related project which deal with ground
                improvement, or soil mechanics in wider terms. "Geosynthetics and its application" describe the applications of
                Geosynthetics in enhancing the properties of soil.<br><br>

                Total project included 5 sub sections

                <ol>
                    <li>Geosynthetics as filter - It was aimed to prohibit the erosion of soil in soil foundations so that strength of
                    foundations will not decline as the water flows through them.</li>
                    <li>Geotextile as separator - under the pressure of the concentrated load distributed equally on whole cross sectional
                    area after a layer of Geosynthetic.</li>
                    <li>Geocomposite as drainage system - Prototype demonstrate the difference between the lining of canal in which
                    Geocomposite was used and the other was normal. In dry season uplift pressure breaks the lining in normal case while in
                    the other part lining remained undisturbed.</li>
                    <li>Soil nailing for slope stabilisation - it mainly aim to prevent avalanches with the help of nailing. It gives
                    stabilisation to the slopes.</li>
                    <li>Use of Geosynthetics in soil compaction - using a layer of Geosynthetic material the impact don't transcend to the
                    other layer of soil.
                    Each section needed brainstorming to come up with a prototype model. Intensive studies by each dedicated member in the
                    same resulted in a successful project in Srishti 2018.</li>

                    </ol>


            </div>
            <div class="d-none d-md-block col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-12 col-md-8 pcontent">
                <p class="team-member">
                    Team Members
                </p>
                <ul>
                    <li>Vedant Kumar (3rd Year)</li>
                    <li>Nikita Singh (3rd Year)</li>
                    <li>Anvesh Chauhan (2nd Year)</li>
                    <li>Vibhu Chaucharia (2nd Year)</li>
                    <li>Muskan Dogra (2nd Year)</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-12 col-md-8 pcontent">
                <p class="team-member">
                    More Projects
                    <hr>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm">
                <div class="row">
                    <div class="col-sm-4 pjct">
                        <div class="row">
                            <div><img class="Project-image" src="./images/Project2.png"></div>
                        </div>
                        <div class="row">
                            <div class="Project-head">Smart Cities Project</div>
                            <div class="Project-details">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                accusantium doloremque laudantium, totam rem aperiam</div>
                        </div>
                        <div class="row">
                            <a class="btn Read-more-projects" href="#">
                                <p class="text-center Read-more-projects-content">Read more</p>
                            </a>
                        </div>
                    </div>

                    <div class="col-sm-4 pjct">
                        <div class="row">
                            <div><img class="Project-image" src="./images/Project3.png"></div>
                        </div>
                        <div class="row">
                            <div class="Project-head">Concrete Project</div>
                            <div class="Project-details">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                accusantium doloremque laudantium, totam rem aperiam</div>
                        </div>
                        <div class="row">
                            <a class="btn Read-more-projects" href="#">
                                <p class="text-center Read-more-projects-content">Read more</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<%- include("footer") -%>
