<html>
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./fonts/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="./fonts/bootstrap-social/bootstrap-social.css">
    <link rel="stylesheet" type="text/css" href="./css/styles.css">

    <title>Civil Engineering Consortium IIT Roorkee</title>
</head>
<body>
    <!-- Fixed Navigation bar-->
    <nav class="navbar navbar-expand-sm fixed-top align-items-center">
        <div class="container ml-0 mr-0">
           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand align-items-center" href="index.html"><img src="./images/CEC_logo.png" height="70" width="70">
                <span class="navbar-text">
                    Civil Engineering <br>Consortium&nbsp;IIT&nbsp;Roorkee
                </span>
            </a>
            <div class="collapse navbar-collapse " id="Navbar">
                <ul class="navbar-nav ml-auto mr-0">
                    <li class="nav-item"><a class="nav-link" href="/"> Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="Aboutus"> About Us</a></li>
                    <li class="nav-item"><a class="nav-link" href="Projects"> Projects</a></li>
                    <li class="nav-item"><a class="nav-link" href="Activities"> Activities</a></li>
                    <li class="nav-item"><a class="nav-link" href="Blogs"> Blog</a></li>
                    <li class="nav-item"><a class="nav-link" href="team"> Team</a></li>
                    <li class="nav-item"><a class="nav-link" href="edifice"> Edifice</a></li>
                </ul>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </nav>
