<%- include("header"); -%>
<header class="jumbotron" id="Activities-head">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <h1 class="jumbotron-head">Projects</h1>
                </div>
            </div>
        </div>
    </header>  

    <div class="conatiner">
        <div class="row row-content">
            <div class="col-sm-1"></div>
            <div class="col-sm">
                <div class="row">
                    <div class="col-sm-4 pjct">
                        <div class="row">
                            <div><img class="Project-image" src="./images/Project1.png"></div>
                        </div>
                        <div class="row">
                            <div class="Project-head">Smart Cities Project</div>
                            <div class="Project-details">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam</div>
                        </div>
                        <div class="row">
                            <a class="btn Read-more-projects" href="SmartCities"><p class="text-center Read-more-projects-content">Read more</p></a>
                        </div>
                    </div>

                    <div class="col-sm-4 pjct">
                        <div class="row">
                            <div><img class="Project-image" src="./images/Project2.png"></div>
                        </div>
                        <div class="row">
                            <div class="Project-head">Concrete Project</div>
                            <div class="Project-details">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam</div>
                        </div>
                        <div class="row">
                            <a class="btn Read-more-projects" href="ConcreteProject"><p class="text-center Read-more-projects-content">Read more</p></a>
                        </div>
                    </div>

                    <div class="col-sm-3 pjct">
                        <div class="row">
                            <div><img class="Project-image" src="./images/Project3.png"></div>
                        </div>
                        <div class="row">
                            <div class="Project-head">Geosynthetics Project</div>
                            <div class="Project-details">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam</div>
                        </div>
                        <div class="row">
                            <a class="btn Read-more-projects" href="GeosyntheticsProject"><p class="text-center Read-more-projects-content">Read more</p></a>
                        </div>
                    </div>
                </div>

                <div class="row row-content">
                    <div class="col-sm-3 pjct">
                        <div class="row">
                            <div><img class="Project-image" src="./images/Project1.png"></div>
                        </div>
                        <div class="row">
                            <div class="Project-head">Bamboo Housing Technology</div>
                            <div class="Project-details">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam</div>
                        </div>
                        <div class="row">
                            <a class="btn Read-more-projects" href="BambooHousing"><p class="text-center Read-more-projects-content">Read more</p></a>
                        </div>
                    </div>


                </div>

            </div>
            <div class="d-md-none col-sm-1"></div>
        </div>
    </div>

  <%- include("footer") -%>
