<%- include("header"); -%>
<header class="jumbotron" id="Activities-head">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <h1 class="jumbotron-head pip"><a class="title-projects" href="Projects">Projects</a> > Smart Cities</h1>
                </div>
            </div>
        </div>
    </header>
    <div class="conatiner">
        <div class="row row-content image-holder carousel-holder">
            <div class="d-none d-md-block col-md-1"></div>
            <div id="project-carousel" class="col-md-10 carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <img class="d-block image-holder" src="./images/Project1.png" alt="">
                        <div class="carousel-caption d-none d-md-block">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block image-holder" src="./images/Project1.png" alt="">
                        <div class="carousel-caption d-none d-md-block">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block image-holder" src="./images/Project1.png" alt="">
                        <div class="carousel-caption d-none d-md-block">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block image-holder" src="./images/Project1.png" alt="">
                        <div class="carousel-caption d-none d-md-block">
                        </div>
                    </div>
                </div>
                <ol class="carousel-indicators slider">
                    <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#mycarousel" data-slide-to="1"></li>
                    <li data-target="#mycarousel" data-slide-to="2"></li>
                    <li data-target="#mycarousel" data-slide-to="3"></li>
                </ol>
                <a class="carousel-control-prev prev-slide" href="#mycarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next next-slide" href="#mycarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
            <div class="d-none d-md-block col-md-2"></div>
        </div>
        <div class="row content-holder">
            <div class="d-none d-md-block col-md-1"></div>
            <div class="col-12 col-md-8 pcontent">
            <p class="team-member">
                Summary
            </p>
            This project was aimed at bringing out innovations which can be opted in existing or to be smart cities. In this era
            where all the natural resources are getting depleted, smart cities must go for sustainable development rather than just
            laying vast structures everywhere or underground. While working on this project, we consulted various professors of our department regarding information about the
            concerned arenas. We went through the market and various other sources and came to know that the conventional methods are far from
            sustainable and they need to be improved.
            <br><br>We planned Smart Highways which require a considerable amount of initial installment cost but in the long run it would
            save about 30-40% of electricity used in street lights.
            We prepared a working model for the same and we received a lot of appreciation for it, even from the assistant vice
            president of Godrej India.
            Basically in smart street lighting, the roads are to be installed with motion, speed and light sensors, so that whenever
            any vehicle passes over the road, only the street lights close to it will brighten up. This one time investment will
            gradually pay for itself and also save a lot of electricity.

            <br><br>
            Then we planned overhead traffic display systems in which we installed digital panels linked with google maps that gave
            real time data to people while driving which prevents them from getting into any traffic congestion.
            Another project was of Waste Management, we planned smart bins fitted with sensors,
            which will send signals to garbage trucks when it is full. This leads to route optimization, in which garbage truck will
            go through all those garbage bins which are full. This will reduce pollution by so many trucks, the smell will be gone
            with this change, fuel will be saved, less trucks will be required, also this process will save time because of modified
            bins and trucks.

            <br><br>
            Digitalization of meters was another major aspect we thought of working on. We created a digital water meter which sends
            the bill directly on your mobile phone and there is no need of mediator, you can yourself capture the meter and will get
            verified and you will receive the bill.
            In India Smart Card is still not introduced, it is already functional in London as oyster card. We can use one single
            card for all public modes of transport.

            <br><br>
            Smart Integration means monitoring of all the smart components of a smart city at one particular place. It can be done
            inside a building which will control all the smart components of the surrounding area.
            We did some research with the help of prof. Sudipta Sarkar on the Black Soldier Fly, they can be very helpful when it
            comes to waste segregation and further using it. They are stored from the egg stage, the larvae eats as much organic
            waste as it can and once it gets to the fly stage, it won’t eat anything and this fly can then be used in various
            places.
            The project required a lot of brainstorming and time as finding things about such a hot topic that aren’t yet in use was
            a tough thing.

            </div>
            <div class="d-none d-md-block col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-12 col-md-8 pcontent">
                <p class="team-member">
                    Team Members
                </p>
                <ul>
                    <li>Vedant Kumar (3rd Year)</li>
                    <li>Nikita Singh (3rd Year)</li>
                    <li>Anvesh Chauhan (2nd Year)</li>
                    <li>Vibhu Chaucharia (2nd Year)</li>
                    <li>Muskan Dogra (2nd Year)</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-12 col-md-8 pcontent">
                <p class="team-member">
                    More Projects <hr>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm">
                <div class="row">
                    <div class="col-sm-4 pjct">
                        <div class="row">
                            <div><img class="Project-image" src="./images/Project2.png"></div>
                        </div>
                        <div class="row">
                            <div class="Project-head">Smart Cities Project</div>
                            <div class="Project-details">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                accusantium doloremque laudantium, totam rem aperiam</div>
                        </div>
                        <div class="row">
                            <a class="btn Read-more-projects" href="#">
                                <p class="text-center Read-more-projects-content">Read more</p>
                            </a>
                        </div>
                    </div>

                    <div class="col-sm-4 pjct">
                        <div class="row">
                            <div><img class="Project-image" src="./images/Project3.png"></div>
                        </div>
                        <div class="row">
                            <div class="Project-head">Concrete Project</div>
                            <div class="Project-details">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                accusantium doloremque laudantium, totam rem aperiam</div>
                        </div>
                        <div class="row">
                            <a class="btn Read-more-projects" href="#">
                                <p class="text-center Read-more-projects-content">Read more</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<%- include("footer") -%>
